<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="tempstyle.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <a class="navbar-brand" href="tempindex.html">Title</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="tempindex.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tempaboutUs.html">Über uns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tempallmovies.html">Alle Filme</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>About Us</h1>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
